{% extends "base.html" %}

{% block styles %}

{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<h1>{{title}}</h1>
			</div>
			{% if session.get("active") %}
			<div class="col-sm-auto align-self-center">
				<button type="button" onclick="window.location.href='{{ url_for('main.add_tag') }}'" class="btn btn-secondary"><i class="bi bi-plus-circle mx-1"></i>ADD CATEGORY</span></button>
				<button type="button" onclick="window.location.href='{{ url_for('main.add_url') }}'" class="btn btn-secondary"><i class="bi bi-plus-circle mx-1"></i>ADD URL</span></button>
			</div>
			{% endif %}
		</div>
	</div>
	<ul>
	    {% for tag in tags%}
	    	<li>
	    	<a class="fw-bold fs-4 text-decoration-none mylink" style="margin-right: 0.5rem" id="{{tag.id}}" onclick="window.location.href='{{url_for('main.get_tag', tag_id=tag.id )}}'"> {{tag.name}}</a>
	        {% if session.get("active") %}
	        	<span  class="mx-2" onclick="window.location.href='{{ url_for('main.edit_tag', tag_id=tag.id) }}'"><i class="bi bi-pencil-fill"></i> edit</span>
		        {% set name = tag.name %}
		        {% set url = url_for("main.delete_tag", tag_id=tag.id) %}
				<span  class="mx-2" onclick="redirect('{{ name }}', '{{ url }}');"> <i class="bi bi-x-square-fill"></i> delete</span>
			{% endif %}
	    	</li>
	    {% endfor %}
	</ul>

{% endblock %}

{% block scripts %}
	<script>
		function redirect(name, url) {
		  if (confirm("Delete tag " + name + "?") == true) {
		    location.href = url;
			};
		};
	</script>
{% endblock %}